<section class="timeline">
    <div class="timeline__inner">
        <div class="timeline__road">
            <%- include('../../images/road.svg')%>
        </div>
        <div class="title base-animation">История</div>

        <div class="timeline__cards">
            <div class="card timeline__card">
                <div class="card__icon">
                    <%- include('../../images/article.svg')%>
                </div>
                <div class="card__year">2008</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Сатоши Накамото публикует оригинальную статью, описывающую технологию, лежащую в
                    основе биткоина
                </div>
            </div>
            <div style="margin-top: 120px;" class="card timeline__card card--2">
                <div class="card__icon">
                    <%- include('../../images/article.svg')%>
                </div>
                <div class="card__year">2008</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Сатоши Накамото публикует оригинальную статью, описывающую технологию, лежащую в
                    основе биткоина
                </div>
            </div>
            <div style="margin-top: 162px;" class="card timeline__card">
                <div class="card__year">2008</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Сатоши Накамото публикует оригинальную статью, описывающую технологию, лежащую в
                    основе биткоина
                </div>
            </div>
            <div style="margin-top: 134px;" class="card card--2 timeline__card">
                <div class="card__year">2008</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Сатоши Накамото публикует оригинальную статью, описывающую технологию, лежащую в
                    основе биткоина
                </div>
            </div>
            <div style="margin-top: 260px;" class="card timeline__card">
                <div class="card__year">2008</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Сатоши Накамото публикует оригинальную статью, описывающую технологию, лежащую в
                    основе биткоина
                </div>
            </div>
            <div style="margin-top: 163px;" class="card card--2 timeline__card">
                <div class="card__year">2008</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Сатоши Накамото публикует оригинальную статью, описывающую технологию, лежащую в
                    основе биткоина
                </div>
            </div>
        </div>
    </div>
</section>
