$accent: #a250e2;
$text: #f2f2f2;
$bg: #0a1218;
$label: #ababab;
$bg-30: rgba(0, 0, 0, 0.7);

@mixin green-radial-gradient {
  background: radial-gradient(60.8% 60.8% at 50% 50%, rgba(0, 140, 112, 0.25) 0%, rgba(0, 140, 112, 0.157127) 51.04%, rgba(0, 10, 18, 0) 91.13%);
  filter: blur(20px);
}

@mixin purple-radial-gradient {
  background: radial-gradient(60.8% 60.8% at 50% 50%, rgba(162, 80, 226, 0.4) 0%, rgba(102, 54, 149, 0.251403) 51.04%, rgba(0, 10, 18, 0) 91.13%);
  filter: blur(20px);
}

@mixin main-linear-gradient {
  background: linear-gradient(90deg, #a250e2 7.64%, #008c70 89.89%);
}
