<section class="hero">
    <div class="hero__main">
        <h1 class="hero__title base-animation">Криптовалюта</h1>
        <div class="hero__sub-title base-animation">простыми словами о сложном</div>
        <div class="hero__button-wrapper base-animation">
            <button class="button hero__button">Поехали!</button>
        </div>
    </div>
</section>
