<section id="description" class="how-it-works">
    <div class="how-it-works__inner">
        <h1 class="how-it-works__title title base-animation">Что это?</h1>

        <div class="how-it-works__body">
            <div class="how-it-works__img base-animation">
                <img width="426" data-src="images/bitcoin.png" class="lazy" alt="bitcoin">
            </div>
            <ul class="how-it-works__list">
                <li class="how-it-works__item base-animation">
                    <div class="how-it-works__icon">
                        <%- include('../../images/like.svg')%>
                    </div>
                    <h3 class="how-it-works__name">В чем суть?</h3>
                    <p class="how-it-works__text">
                        Криптовалюта - это абсолютно новая концепция мировой финансовой
                        системы, которая обеспечивает пользователям независимость от банков, государств и прочих
                        органов, в
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
