@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "helpers/index";
@import "fonts/montserrat";
@import "../blocks/button/button";

body {
  font-family: Montserrat, sans-serif;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
