<section class="rate">
    <div class="rate__inner">
        <h1 class="rate__title title base-animation">Топ 5 валют</h1>

        <div class="rate__body">
            <img src="../../images/stage.png" alt="" class="rage__stage">
        </div>
    </div>
</section>
