<section id="opportunites" class="lazy perspectives" data-bg-multi="url('images/bg2circles.png'), url('images/bg3neuro.png')">
    <div class="perspectives__inner">
        <h1 class="title perspectives__title">Переспективы</h1>

        <ol class="perspectives__list">
            <li class="base-animation perspectives__item">
                <div class="perspectives__number">
                    <div class="perspectives__number-text">
                        1
                    </div>
                    <div class="perspectives__number-border"></div>
                </div>
                <div class="perspectives__body">
                    <div class="perspectives__name">Легализация</div>
                    <p class="perspectives__text">
                        Курс криптовалют увеличивается по отношению к фиатным деньгам, а возможность регулировать эти
                        показатели отсутствует. Ввиду этого официальная мировая финансовая система может признать
                        криптовалюты частью себя, что будет адекватным решением их проблем. Это вызовет ряд изменений в
                        финансовой сфере, которые затронут все сферы человеческого общества.
                    </p>
                </div>
            </li>
            <li class="base-animation perspectives__item">
                <div class="perspectives__number">
                    <div class="perspectives__number-text">
                        2
                    </div>
                    <div class="perspectives__number-border"></div>
                </div>
                <div class="perspectives__body">
                    <div class="perspectives__name">Появление новых криптовалют</div>
                    <p class="perspectives__text">
                        Электронные деньги появляются каждый год. Преимуществом их является возможность майнинга без
                        наличия специального оборудования. Согласно прогнозу их возникновения, количество их может
                        перевалить за 1 тыс.
                    </p>
                </div>
            </li>
            <li class="base-animation perspectives__item">
                <div class="perspectives__number">
                    <div class="perspectives__number-text">
                        3
                    </div>
                    <div class="perspectives__number-border"></div>
                </div>
                <div class="perspectives__body">
                    <div class="perspectives__name">IT-инновации</div>
                    <p class="perspectives__text">
                        Ускоренные темпы развития криптовалют требуют появления новых технологий, которые позволят
                        убрать ограничения на майнинг. Для выработки электронных денег требуется регулярно обновлять
                        дорогостоящее оборудование, но новые информационные технологии, которые мы имеем сегодня,
                        позволят обойтись без таких затрат.
                    </p>
                </div>
            </li>
            <li class="base-animation perspectives__item">
                <div class="perspectives__number">
                    <div class="perspectives__number-text">
                        4
                    </div>
                    <div class="perspectives__number-border"></div>
                </div>
                <div class="perspectives__body">
                    <div class="perspectives__name">Применение криптоденег в жизни</div>
                    <p class="perspectives__text">
                        Уже сегодня можно встретить различные автоматы, в которых можно расплачиваться биткоинами. Это
                        обусловлено его популярностью, поскольку btc надежен и быстр. Есть основания полагать, что в
                        дальнейшем станет можно использовать криптовалюту без сложного оборудования, неудобных методов
                        хранения и пр. Для этого требуется, чтобы электронные деньги получили легальный статус.
                    </p>
                </div>
            </li>
        </ol>
    </div>
</section>
