<header class="header">
    <div class="header__inner">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__link"><a href="#description">Что это?</a></li>
                <li class="header__link"><a href="#opportunites">Переспективы</a></li>
                <li class="header__link"><a href="#top">Топ валют</a></li>
            </ul>
        </nav>
    </div>
</header>
